.activity-show {
  padding-top: 25px;
  width: 75%;
  margin: 0 auto;
  text-align: center;
  font-size: 15px;
  font-style: bold;
}

img.image-test {
    width: 100vw;
    object-fit: cover;
}

// .container {
//   background-image: url(http://idata.over-blog.com/3/11/71/06/terrain0zv.jpg);
//   background-size: cover;
//   object-fit: cover;
//   width: 100vw;
//   padding: 50px;
// }

