.show-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  h1 {
    color: black;
  }
}

.cards-container {
  width: 80%;
  text-align: center;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards-activity {
  display:flex;
  color: black;
}

.activity-info {
  margin: 30px;
  display: flex;
  border-radius: 3px;
  background-color: white;
}

.activity-info-img {
  border-radius: 3px;
  width: 90%;
}

.activity-info-text {
  margin: 20px;
  display: flex;
  flex-direction: column;
  p {
    font-size: 17px;
  }
  h4 {
    font-size: 17px;
  }
  h3 {
    font-size: 17px;
  }
}

.card-booking {
  width: 25%;
  margin: 30px;
  padding: 20px;
  border-radius: 3px;
  background-color: white;
}

.flex-row {
  flex-direction: column !important;
}

.form-group {

}
