.container-activities {

  width: 75%;
  margin: 0 auto;
  text-align: center;
  margin-top: 30px;
}


.activities {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;

  .card-img-top {
    object-fit: cover;
    object-position: center;
    height: 200px;
  }


}

.btn-index {
    width: 50%;
    margin: 15px auto;
    border-radius: 20px;
}

.btn-index:hover {
  background-color: #210117;
  border-color: #210117;
}

.h5 {
  font-style: 2px;
  font-weight: bold;
  font-family: arial;
}
