.top-page {
  display: flex;
  justify-content: center;
  .title {
    padding-left: 37px;
    font-weight: lighter;
    margin-top: 30px;
    margin-bottom: 20px;
    // position: relative;
    // left: -475px;
  }
}

.cards-container {
  display: flex;
  justify-content: space-around;
  margin: 0 30px;

  .card-activity {
    display: flex;
    width: 800px;
    // margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 3px;
      img {
        width: 500px;
        border-radius: 3px;
        height: 450px;
        width: 485px;
        object-fit: cover;
      }
    .activity-info {
        padding-left: 20px;
        // display: flex;
        flex-direction: column;
        justify-content: space-between;
        p {
          color: grey;
        }

    }
  }
  .card-booking {
    width: 300px;
    padding: 20px;
    background-color: white;
    border-radius: 3px;
    .flex-row {
      flex-direction: column !important;
    }
    .column-date{
      margin: 5px 0px;
    }
  }
}

.btn-back {
    background-color: #F6B23C;
    padding: 8px 12px;
    // position: relative;
    // top: -540px;
    // left: 1210px;
    border-radius: 3px;
    font-size: 14px;
}



