body {
  font-family: -webkit-pictograph;
  color: white;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 230px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  inline-size: fit-content;
}

.form {
  display: flex;
  align-items: center;
}

.wrapper {
  margin: 8px 0;
  margin-top: 20px;
}

.search-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
}

.search {
  flex: 0 0 160px;
  border: 1px;
  border-radius: 20px;
  margin: 10px;
  background: #333;
  padding: 15px;
  height: 65px
}

// <-- BUTTON -->

.trace-motion {
  stroke-dasharray: 650;
  stroke-dashoffset: 650;
  opacity: .8;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

main {
  margin: 4em auto 8em;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.spell-card {
  flex: 0 0 160px;
  border: 1px;
  border-radius: 30px;
  margin: 10px;
  background: #333;

  &__inner {
    border-radius: 17px;
    overflow: hidden;
    background: #333;
  }
  h5 {
    font-family: -webkit-pictograph;
    font-size: 17px;
    margin-bottom: 9px;
    color: grey;
  }
  &__shape {
    width: 100%;
    height: 40px;
    background: #333;
    display: grid;
    place-items: center;
    position: relative;
    svg {
      width: 70%;
      max-width: 50px;
      filter: drop-shadow(0 0 12px #0ff) drop-shadow(-2px -2px 12px #00bcd4);
    }
  }

  &:hover {
    cursor: pointer;
    .trace-motion {
      animation: draw .7s linear forwards;
    }
  }
}

// <--- CARD --->
.card-continer {
  display: flex;
  align-items: center;
  flex-direction: column;
  inline-size: fit-content;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
