.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 8px 0;
  margin-top: 20px;
}

.search {
  flex: 0 0 160px;
  border: 1px;
  border-radius: 20px;
  margin: 10px;
  background: #333;
  padding: 15px;
  height: 65px
}
