
.banner {
  background-size: cover;
  background-position: center;
  padding: 230px 0;
  font-family: -webkit-pictograph;
  color: white;
  height: 100vh;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  inline-size: fit-content;
}

.element-catch-phrase {
  // background-color: $prune;
  height: 250px;
  display: flex;
  h1, h3 {
    color: $prune;
  }
}

.catch-phrase {
  width: 100%;
  text-align: center;
  font-size: 20px;
  margin: auto;
  color: white;
}

.features {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-top: 100px;
    padding: 0px 30px;
  img {
      border-radius: 4px;
      height: 300px;
      width: 450px;
      object-fit: cover;
  }
}

.feature-info {
  padding: 30px;
  p {
    font-size: 16px;
    color: grey;
  }
}


.cta-box {
  height: 200px;
  display: flex;
  .call-to-action {
    width: 100%;
    text-align: center;
    font-size: 20px;
    margin: auto;
    color: $prune;
    a {
      text-decoration: underline;
    }
  }
}

.discover {
  text-align: left;
  margin-left: 30px;
  margin-top: 80px;
}

.theme-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0px 30px;
  .theme-card-info {
    margin: 26px 0px 30px 0px;
    height: 180px;
    width: 24%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-position: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
  }
}

