.banner {
  background-size: cover;
  background-position: center;
  padding: 230px 0;
  font-family: -webkit-pictograph;
  color: white;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  inline-size: fit-content;
}

.form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.wrapper {
  margin: 8px 0;
  margin-top: 20px;
}

.search-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
}

.search {
  flex: 0 0 160px;
  border: 1px;
  border-radius: 20px;
  margin: 10px;
  background: #333;
  padding: 15px;
  height: 65px
}

// <--- CARD --->
.card-continer {
  display: flex;
  align-items: center;
  flex-direction: column;
  inline-size: fit-content;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
