.form {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 8px 0;
}

input,
input:focus,
input:valid,
input:active,
input:-internal-autofill-previewed,
input:-internal-autofill-selected {
  border-radius: 10px 0px 0px 0px;
  border: none;
  font-family: "Work Sans", "Helvetica", "sans-serif";
  margin-left: 10px;
  margin-right:a 10px;
  text-align: center;
  border-right: 1px solid grey;
  background: #333;
  height: 40px;
  outline: none;
}

.input {
  border-radius: 40px;
  margin-top: 10px;
  display: flex;
  background: #333;
  border: none;
}
