.form {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 8px 0;
}

input {
  border-radius: 10px 0px 0px 0px;
  border: none;
  font-family: "Work Sans", "Helvetica", "sans-serif";
  margin: 10px;
  text-align: center;
  border-right: 1px solid black;
  background: #333;
}

.input {
  border: 1px solid;
  background: white;
  border-radius: 30px;
  margin-top: 10px;
  display: flex;
  background: #333;
  border: none;
}
