.trace-motion {
  stroke-dasharray: 650;
  stroke-dashoffset: 650;
  opacity: .8;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

main {
  margin: 4em auto 8em;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

button {
  display: flex;
  align-items: center;
  padding: 22px;
}

.spell-card {
  border: 1px;
  margin: 10px;
  background: $prune;
  height: 40px;
  width: 150px;

  .magic-wand {
    width: 60px;
  }
  &__shape {
    background: $prune;
    display: none;
    place-items: center;
    position: relative;
    padding: 20px;
    align-items: center;
    flex-direction: column;
    svg {
      width: 90%;
      max-width: 150px;
      filter: drop-shadow(0 0 12px #0ff) drop-shadow(-2px -2px 12px #00bcd4);
    }
 }

  &:hover {
    cursor: pointer;
    .trace-motion {
      animation: draw .7s linear forwards;
    }
    .magic-wand {
      display: none;
    }
    .spell-card__shape {
      display: block;
    }
  }
}
