<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.yesiwantit.com/blog/wp-content/uploads/2019/09/harry-potter-and-friends-in-one-of-the-earlier-movies-1250x600.jpeg);">
  <div class="container">
    <h1>Found your wizzie</h1>
      <form class="form">
        <div class="wrapper">
          <div class="search-container">
            <input type="text" class="search" placeholder="Themes">
            <input type="text" class="search" placeholder="Activity">
            <input type="text" class="search" placeholder="City">
          </div>
        </div>

        <button type="submit" class="spell-card">
                <div class="spell-card__inner">
                  <div class="spell-card__shape">
                    <div class="spell-card__trace" style="background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/aguamenti.svg');"></div>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 201 117.05">
                      <clipPath id="clip-aguamenti">
                        <path d="M21,139s-1,24,30,32c28.83,7.44,58.34-38.49,61.63-45.22.29-.61,29.53-47,51.19-54.41.65-.22,43.46-16.21,58.18,31.63,0,0-.25-.69-.78-1.87-9.33-20.51-34.05-28.73-54.07-18.36A53.11,53.11,0,0,0,154,92c-11.69,11.69-48.35,63.55-48.76,64.14C101.44,161.61,83.84,185,60,185c0,0-19,5-31-12C29,173,21,164,21,139Z"/>
                      </clipPath>
                      <path clip-path="url(#clip-aguamenti)" class="trace-motion" fill="none" stroke="#ddfffb" stroke-miterlimit="10" stroke-width="14" d="M21.14,141.53S25,181,60,181c0,0,15,1,32-17s36-46,39-54c0,0,25-34,40-34,0,0,29-15,48,21" transform="translate(-21 -68.63)"/>
                    </svg>
                  </div>
                  <div class="spell-card__name">
                    <h5>Acio Wizzie</h5>
                  </div>
                </div>
            </button>

      </form>
  </div>
</div>

<div class="card-container">
  <h2>Sport</h2>
  <div class="cards">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
      Breakfast
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
      Lunch
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
      Dinner
    </div>
  </div>

</div>



