.custom-container {
  min-height: calc(100vh - 60px);
  padding-top: 100px;
}

#pages-home .custom-container,
#sessions-new .custom-container {
  padding: 0;
}

#activities-new .custom-container {
  padding-top: 80px;
}
