.custom-container {
  min-height: calc(100vh - 60px);
  padding-top: 100px;
  padding-bottom: 100px;
  // padding bottom ajouté par ricky pour sa show profile on peut enlever si ça fucked up
}

#pages-home .custom-container,
#sessions-new .custom-container {
  padding: 0;
}

#activities-new .custom-container {
  padding-top: 80px;
}
