.transp-navbar {
  background: transparent !important;
}

.navbar-wizzie {
  height: 80px;
  justify-content: space-between;
  color: white;
  width: 100%;
  background-color: $prune;
  position: fixed;
  top: 0;
  transition: all .3s ease-out;
  z-index: 999;
}

.sticky-top {
  position: sticky;
}

.avatar {
    width: 40px;
    border-radius: 50%;
}

.navbar-wizzie .navbar-collapse {
  flex-grow: 0;
}

.navbar-wizzie .navbar-brand img {
  width: 40px;
  border-radius: 50%;
}

.btn-add {
  background-color: transparent;
  border:  1px solid;
  border-color: white;
  border-radius: 50px;
  padding: 10px 20px;
  color: white;
  transition: all 0.7s ease;
}

.btn-add:hover {
  background-color: white;
  border: none;
  color: $prune;
  border-radius: 25px;
  text-decoration: none;
}

