.transp-navbar {
  background: transparent !important;
}

.navbar-wizzie {
  height: 80px;
  justify-content: space-between;
  color: white;
  width: 100%;
  background-color: $prune;
  position: fixed;
  top: 0;
  transition: all .3s ease-out;
}

.sticky-top {
  position: sticky;
}

.avatar {
    width: 40px;
    border-radius: 50%;
}

.navbar-wizzie .navbar-collapse {
  flex-grow: 0;
}

.navbar-wizzie .navbar-brand img {
  width: 40px;
  border-radius: 50%;
}

