.home-navbar {
  position: absolute;
  background: transparent !important;
}

.navbar-wizzie {
    height: 80px;
    justify-content: space-between;
    color: white;
    width: 100vw;
    background-color: purple;
}

.sticky-top {
  position: sticky;
}

.avatar {
    width: 40px;
    border-radius: 50%;
}

.navbar-wizzie .navbar-collapse {
  flex-grow: 0;
}

.navbar-wizzie .navbar-brand img {
  width: 40px;
  border-radius: 50%;
}

