<div class="container-activities">
<h1> All activities </h1>
  <p>
    <div class="activities">
      <% @activities.each do |activity| %>
        <div class="activity">
          <%= link_to activity.name, activity_path(activity) %>

        </div>
      <% end  %>
    </div>
  </p>
</div>
