<div class="container-activities">
<h1> All activities 🧙‍♀️ </h1>
    <div class="activities">
<!--       <%# @activities.each do |activity| %>
        <div class="activity">
          <%#= link_to activity.name, activity_path(activity) %>
s
        </div>
      <%# end  %> -->
      <% @activities.each do |activity| %>
        <div class="card" style="width: 18rem;">
          <% if activity.photo.attached? %>
            <%= cl_image_tag activity.photo.key, height: 300, width: 400, class: "card-img-top" %>
            <% else %>
            <%= image_tag "https://static.papergeek.fr/2017/03/harry-potter-poudlard-sorciers-angleterre.jpg", class: "some css class here"  %>
          <% end %>
          <div class="card-body">
            <%= link_to activity.name, activity_path(activity), class: "card-title" %>
            <%= link_to activity.description, activity_path(activity), class: "card-title" %>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      <% end %>
    </div>
</div>
